@import "../../mixins.css";

//デフォルトの定義一覧（変更しないでください）

//コンテナサイズ（適用すると空白などを調節できます）
.container{
  @include container;
}
//フォント一覧
.text-menu{
  @include text-menu;
}

.text-sub-menu{
  @include text-sub-menu;
}

.text-body{
  @include text-body;
}

.text-section-title{
  @include text-section-title;
}

//ここより下にページに関するcssを書いてください
