/*Break Point*/
/*Break Point*/
h4 {
  margin: 5px 0;
}

body {
  background-color: #EFEDE9;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .container {
    padding:0 10px;
  }
}

.text-menu {
  font-size: 18px;
  font-family: YuGothic Arial, sans-serif;
  color: #868282;
}

.text-sub-menu {
  font-size: 14px;
  font-family: YuGothic Arial, sans-serif;
  color: #868282;
}

.text-body {
  color: #000000;
  font-size: 18px;
  font-family: YuGothic Arial, sans-serif;
}

.text-section-title {
  color: #000000;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  border-bottom: #000000 solid 1.5px;
  font-family: YuGothic Arial, sans-serif;
}

* {
  margin: 0;
}

h4 {
  margin: 5px 0;
}

body {
  background-color: #EFEDE9;
}

.text-menu {
  font-size: 18px;
  font-family: YuGothic Arial, sans-serif;
  color: #868282;
}

.text-sub-menu {
  font-size: 14px;
  font-family: YuGothic Arial, sans-serif;
  color: #868282;
}

.text-body {
  color: #000000;
  font-size: 18px;
  font-family: YuGothic Arial, sans-serif;
  text-align: left;
  width: 50vw;
  margin: 0 auto;
  padding-top: 15px;
}

.text-section-title {
  color: #000000;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  border-bottom: #000000 solid 1.5px;
  font-family: YuGothic Arial, sans-serif;
}
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
  @-webkit-keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-20px); }
   100% { opacity: 1; -webkit-transform: translateY(0); }
  }
  @keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
   100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  }

.container h2{
  text-align: center;
}

.container h2{
  text-align: center;
}
h2{
  border-bottom: solid 2px black;
  display: inline-block;
  padding-bottom: 10px;
}
.myself{
  width:40vw;
  height:40vw;
  float: right;
}
.text{
  text-align: center;
}
.comment1{
  float: right;
  border-left: 1px solid black;
  flex-grow: 1;
}
.pic1{
  width:14%;
  position: relative;
  left: 20%;
  top: 55px;
}
.pic2{
  margin-right: auto;
  width:14%;
  position: relative;
  left: 65%;
  margin-top: auto;
  top:60px;
}
.pic3{
  width:14%;
  position: relative;
  left: 20%;
  top: 55px;
}
.image{
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-grow: 0;
}
.center-box{
  text-align: center;
}
.comment1 p{
  margin-block-start: 1em;
  margin-block-end: 5px;
}

.fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
 }
 @-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
 }
 @keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 }
 .comment{
   width: 100%;
   display: block;
  border-top: 1px solid black;
 }



.p-member{
  width: 100%;
  margin: 15px;
  border: #333333 1px solid;
}
.p-member_row{
  display: flex;
}
.p-member_content{
  display: flex;
}

.p-member_description{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.d-flex{
  display: flex;
}

.daihyous{
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  margin: 0 auto;
  padding-top: 15px;
}
.daihyou1{
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.daihyou2{
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 75px;
}
.shasin{
  width: 95%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-grow: 0;
  margin-left: 30%;
}
.rank{
  float: right;
  flex-grow: 1;
}
.namae{
  text-align: center;
  padding-top:5px ;
}
.shousai{
  padding-top: 50px;
}
.daihyoucm {
  text-align: left;
}
.ex{
  width: 170px;
}
@media(max-width:1200px){
  .p-member_row{
    display: block;
  }
  .shasin{
    margin: 0;
  }
}
@media(max-width:900px){
  .ex{
    margin: 0 auto;
  }
  .shousai{
    padding-top: 30px;
    padding-bottom: 8px;
  }

}
@media(max-width:768px){
  .p-member_description{
    display: block;
  }
  .shasin{
    width: 60%;
    margin: 0 auto;
  }
  .ex{
    width: 100%;
  }
}
button{
  display: none;
}
@media(max-width: 425px){
  button {
    display: block;
    margin:auto 0 0 auto;
    z-index: 2;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    height: 30px;
  }
  button:hover {
    background-color: #EFEDE9;
    border-color: #EFEDE9;
    color: black;
  }
  button::before,
  button::after {
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
  }
  button::before {
    top: 0;
  }
  button::after {
    bottom: 0;
  }
  button:hover::before,
  button:hover::after {
    height: 0;
    background-color: #EFEDE9;
  }
  .comment{
    display: none;
    border: #333333 1px solid;
  }
  .p-member{
    margin:0 0 10px 0;
  }
  .p-member_content{
    display: block;
    border: #333333 1px solid;
  }
  .pic1{
    width:24%;
    position: relative;
    left: 10%;
    top: 55px;
  }
  .pic2{
   margin-right: auto;
   width:24%;
   position: relative;
   left: 66%;
   margin-top: auto;
   top:55px;
  }
  .pic3{
    width:23%;
    position: relative;
    left: 4%;
    top: 55px;
  }
  .shasin{
    width:100%;
  }
}
@media(min-width:1970px){
  .image{
    flex-grow: 0;
  }
  .shasin{
    width: 95%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    margin-left: 0;
  }
  .rank{
    float: right;
    flex-grow: 0;
  }
  .daihyoucm {
    text-align: left;
    flex-grow: 1;
  }
  .daihyou1{
    text-align: center;
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
  }
  .daihyou2{
    text-align: center;
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
  }
  .image{
    flex-grow: 0;
  }
  button{
    display: none;
  }
}
@media(max-width:375px){
  .shousai h3{
    font-size: 14px;
  }
  .daihyou1{
    width: 75%;
  }
  .daihyou2{
    width:75%;
  }
}
@media(max-width:320px){
  .daihyou1{
    width: 80%;
  }
  .daihyou2{
    width:80%;
  }
}
/*# sourceMappingURL=About.css.map */
