.bottom-wrapper{
  margin-bottom:200px;
}
.footer_logo{
  padding: 0 50px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 20px;
}
.scholar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.meeting{
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-left: 100px;
}
.scholar_logo{
  width: 60px;
  height: auto;
  object-fit: cover;
  display: flex;
}
.p-right_items{
  margin-left: auto;
}
.button {
  width: 140px;
  height: 50px;
  border: 1px solid #000000;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}
.button a {
  color: #000000;
  font-size: 18px;
  font-family: YuGothic Arial, sans-serif;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.8s ease;
  z-index: 2;
  position: relative;

}
.eff {
  width: 250px;
  height: 50px;
  left: -250px;
  background: #9f5edf;
  position: absolute;
  transition: all 0.8s ease;
  z-index: 1;
}
.button:hover .eff {
  left: 0;
}

.button:hover a {
  color: #fff;
}
footer{
  border-top: solid 1px black;
  width: 100%;
  position: relative;
}
.footer_description{
  margin-bottom: 20px;
  height: 100px;
}
.footer_description li{
  float: left;
  list-style: none;
  margin-right: 5%;
  margin-top: 5%;
}
.footer_description a:hover{
  color: #9f5edf;
}
.footer_description a{
  display: inline-block;
  text-decoration: none;
  color: #868282;
  font-size: 18px;
}
.scholar p{
  font-family: "Bodoni 72", sans-serif;
  font-size: 20px;
  color: #5f16Af;
}
footer .footer-twitter i {
  margin-right: 20px;
  font-size: 50px;
  color: #4ba0ec;
}
@media (max-width: 768px){
  .footer_description{
    height: 150px;
  }
  .meeting{
    display: block;
    margin-left: auto;
  }
  .footer_logo{
    padding: 0 15px;
  }
  .meeting{
    width: 150px;
    margin-bottom: 20px;
  }
  .p-right_items{
    justify-content: flex-end;
  }
  .scholar_logo{
    width: 40px;
  }
  .scholar p{
    font-size: 15px;
  }
  .meeting{
    display: none;
  }
  footer .footer-twitter i {
    font-size: 30px;
    margin-right: 15px;
  }
}
