@import "../../mixins";

//デフォルトの定義一覧（変更しないでください）

//コンテナサイズ（適用すると空白などを調節できます）
.container{
  @include container;
}
//フォント一覧
.text-menu{
  @include text-menu;
}

.text-sub-menu{
  @include text-sub-menu;
}

.text-body{
  @include text-body;
}

.text-section-title{
  @include text-section-title;
}

.border {
  fill: rgb(255, 255, 255);
  transition: 200ms all ease;
  transform-origin: 250px 250px;
}


.menu {
  cursor: pointer;

  .border {
    fill: rgb(255, 255, 255);
    transition: 200ms all ease;
    transform-origin: 250px 250px;
  }

  

//ここより下にページに関するcssを書いてください
